<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <%= link_to "FO System", root_path, class:'navbar-brand' %>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <%= link_to "Home", root_path, class:'nav-link' %>
                </li>
                <% Category.all.each do |category| %>
                    <li class="nav-item">
                    <%= link_to category.name, category_path(category),class:'nav-link' %>
                    </li>
                <% end %>

            </ul>
            <% if user_signed_in? %>
                <div class="d-flex align-items-center">
                   <%= link_to cart_path do %>
                        <i class="fa fa-shopping-cart fa-2x position-relative">
                            <% if current_user.cart.present? && current_user.cart.cart_products.present?  %>
                                <span class="position-absolute translate-middle counting" style=""><%= current_user.cart.cart_products.count %></span>
                            <% end %>
                        </i>
                    <% end %>
                    <nav class="navbar navbar-expand-lg bg-body-tertiary">
                        <div class="container-fluid">
                            <div class="dropdown me-5">
                                <button
                                    class="btn btn-secondary dropdown-toggle"
                                    type="button"
                                    id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="fas fa-user-circle fa-lg mr-2"></i> <%= current_user.name %>
                                </button>
                                <ul
                                    class="dropdown-menu dropdown-menu-end"
                                    aria-labelledby="dropdownMenuButton1">
                                    <% if current_user.admin? %>
                                        <%= link_to products_path, class: 'dropdown-item' do %>
                                            <i class="fas fa-box mr-2"></i> Products
                                            <span class="badge bg-success rounded-circle"><%= Product.all.count %></span> 
                                        <% end %>
                                        <%= link_to staff_index_path, class: 'dropdown-item' do %>
                                            <i class="fas fa-users mr-2"></i> Staff
                                            <span class="badge bg-success rounded-circle"><%= User.where(role: 'staff').count %></span> 
                                        <% end %>
                                        <%= link_to categories_path, class: 'dropdown-item' do %>
                                            <i class="fas fa-folder mr-2"></i> Categories
                                            <span class="badge bg-success rounded-circle"><%= Category.all.count %></span> 
                                        <% end %>
                                    <% end %>
                                    <% if current_user.admin? || current_user.staff? %>
                                        <%= link_to orders_path, class: 'dropdown-item' do %>
                                        <i class="fas fa-shopping-cart mr-2"></i> Orders  <span class="badge bg-success rounded-circle"><%= Order.all.count %></span> 
                                        <% end %>
                                    <% end %>
                                    <%= link_to edit_user_registration_path(current_user), class: 'dropdown-item' do %>
                                    <i class="fas fa-user-edit mr-2"></i> Edit Profile
                                    <% end %>

                                    <%= link_to myorders_path, class: 'dropdown-item' do %>
                                    <i class="fas fa-shopping-cart mr-2"></i> My Orders  <span class="badge bg-success rounded-circle"><%= current_user.orders.all.count %></span> 
                                    <% end %>

                                    <li><hr class="dropdown-divider"></li>

                                    <%= link_to destroy_user_session_path, class: 'dropdown-item', method: :delete do %>
                                    <i class="fas fa-sign-out-alt mr-2"></i> Logout
                                    <% end %>

                                </ul>
                            </div>
                        </div>
                    </nav>

                </div>
            <% else %>
                <div class="d-flex align-items-center">
                    <%= link_to "Signup", new_user_registration_path, class:'btn btn-outline-success
                    me-2' %>
                    <%= link_to "Login", new_user_session_path, class:'btn btn-outline-success' %>
                </div>
            <% end %>
        </div>
    </div>
</nav>