<div class="container my-5">
  <div class="row">
    <div class="col-md-8 offset-md-2 shadow pt-3">
      <h1 class='text-center'>Your Orders</h1>
      <hr />
      <table>
        <thead>
          <tr>
            <th class='col-md-2'>Order Number</th>
            <th class='col-md-2'>Total Price</th>
            <th class='col-md-2'>Status</th>
            <th class='col-md-2'>Feedback</th> 
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.id %></td>
              <td><%= order.total_price %></td>
              <td><%= order.status %></td>
              <td>
                <% if order.completed? %> <!-- Check if the order is completed -->
                  <% if order.order_items.any? { |item| item.rating.present? } %> <!-- Check if any order item has a rating -->
                    <!-- Display a muted or disabled button -->
                    <button class="btn btn-secondary" disabled>Feedback Given</button>
                  <% else %>
                    <!-- Display the "Give Feedback" button -->
                    <%= link_to "Give Feedback", feedback_order_path(id: order.id), class: "btn btn-primary" %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="pag-bar mt-3">
        <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
      </div>
    </div>
  </div>
</div>
