<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 shadow pt-3">
            <h1 class='text-center'>Your Orders</h1>
            <hr />
            <table>
            <thead>
                <tr>
                <th class='col-md-2'>Order Number</th>
                <th class='col-md-2'>Total Price</th>
                <th class='col-md-2'>Status</th>
                </tr>
            </thead>
            <tbody>
                <% @orders.each do |order| %>
                <tr>
                    <td><%= order.id %></td>
                    <td><%= order.total_price %></td>
                    <td><%= order.status %></td>
                    <td>
                        <% if order.status == 'completed' %>
                             <%= link_to 'Give Feedback', new_rating_path(order_id: order.id), class: 'btn btn-primary btn-sm' %>
                        <% end %>
                    </td>
                </tr>
                <% end %>
            </tbody>
            </table>
             <div class="pag-bar mt-3">
            <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
        </div>
        </div>
    </div>
</div>



