<div class="container mt-5">
    <div class="row g-2">
        <h3>Most Recent Products</h3>
        <% @products.each do |product| %>
            <div class="col-sm-4">
                <div class="card shadow border">
                  <%= image_tag product.image, class:'img img-fluid card-img-top'%>
                  <div class="card-body">
                    <h5 class="card-title"><%= product.name %></h5>
                    <h6 class="card-subtitle mb-2 text-info "><%= product.price %>$</h6>
                    <p class="card-text"><%= truncate(product.description, length: 100) %></p>
                  </div>
                  <div class='card-footer space-around'>
                    <%= link_to "Show Detail", product_path(product),class:'btn btn-outline-primary' %>

                  </div>
                </div>
            </div>
        <% end %>
        <div class="pag-bar">
            <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
        </div>
    </div>
</div>