<section class="hero-section">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 pt-5" >
                <h1 class="display-6">Order Delicious Food Online</h1>
                <p class="lead">Discover a world of flavors at your doorstep</p>
               <%= form_with(url: search_products_path, method: "get", local: true) do |form| %>
                <div class="input-group">
                  <%= form.text_field :query, class: "form-control", placeholder: "Search for your favorite dish", required: true %>
                  <div class="input-group-append">
                    <%= form.button "Search", class: "btn btn-primary search-button", type: "submit" %>
                  </div>
                </div>
              <% end %>
            </div>
        </div>
    </div> 
</section>
<svg class='wave' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#FF8C42" fill-opacity="1" d="M0,192L120,176C240,160,480,128,720,128C960,128,1200,160,1320,176L1440,192L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path></svg>



<div class="container products">
    <div class="row g-2">
        <h1 class='text-center mb-5'>Most Recent Products</h1>
        <% @recent_products.each do |product| %>
            <div class="col-sm-6 col-md-4">
                <div class="card shadow border">
                  <%= image_tag product.image, class:'img img-fluid card-img-top', style:'height:15rem'%>
                  <div class="card-body">
                    <h5 class="card-title"><%= product.name %></h5>
                    <h6 class="card-subtitle mb-2 text-info "><%= product.price %>$</h6>
                    <p class="card-text"><%= truncate(product.description, length: 100) %></p>
                  </div>
                  <div class='card-footer space-around'>
                    <%= link_to "Show Detail", product_path(product),class:'btn btn-outline-primary' %>

                  </div>
                </div>
            </div>
        <% end %>
    </div>
  </div>
  <svg class='swave' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f3f4f5" fill-opacity="1" d="M0,160L80,170.7C160,181,320,203,480,192C640,181,800,139,960,106.7C1120,75,1280,53,1360,42.7L1440,32L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>
  <div class='container-fluid custom-bg-color'>
    <div class="container">
           <div class="row mb-5">
              <h1 class='mb-5 text-center'>Most Liked Products</h1>
              <% @recent_products.each do |product| %>
                  <div class="col-sm-6 col-md-4 mb-3">
                      <div class="card shadow border">
                        <%= image_tag product.image, class:'img img-fluid card-img-top',style:'height:15rem'%>
                        <div class="card-body">
                          <h5 class="card-title"><%= product.name %></h5>
                          <h6 class="card-subtitle mb-2 text-info "><%= product.price %>$</h6>
                          <p class="card-text"><%= truncate(product.description, length: 100) %></p>
                        </div>
                        <div class='card-footer space-around'>
                          <%= link_to "Show Detail", product_path(product),class:'btn btn-outline-primary' %>
                        </div>
                      </div>
                  </div>
              <% end %>
          </div>
    </div>
</div>