<section class="hero-section">
    <div class="container my-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 pt-5" >
                <h1 class="display-6">Order Delicious Food Online</h1>
                <p class="lead">Discover a world of flavors at your doorstep</p>
               <%= form_with(url: search_products_path, method: "get", local: true) do |form| %>
                <div class="input-group">
                  <%= form.text_field :query, class: "form-control", placeholder: "Search for your favorite dish", required: true %>
                  <div class="input-group-append">
                    <%= form.button "Search", class: "btn btn-primary search-button", type: "submit" %>
                  </div>
                </div>
              <% end %>
            </div>
        </div>
    </div> 
</section>
<svg class='wave' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#FF8C42" fill-opacity="1" d="M0,192L120,176C240,160,480,128,720,128C960,128,1200,160,1320,176L1440,192L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path></svg>



<div class="container products">
    <div class="row g-2">
        <h1 class='text-center mb-5'>Most Recent Products</h1>
        <% @recent_products.each do |product| %>
          <div class="col-sm-6 col-md-4">
            <div class="card shadow border">
              <%= image_tag product.image, class:'img img-fluid card-img-top', style:'height:15rem'%>
              <div class="card-body">
                <h5 class="card-title"><%= product.name %></h5>
                <h6 class="card-subtitle mb-2 text-info "><%= product.price %>$</h6>
                <p class="card-text"><%= truncate(product.description, length: 100) %></p>
              </div>
              <div class='card-footer space-around d-flex justify-content-between align-items-center'>
                <%= link_to "Show Detail", product_path(product), class:'btn btn-outline-primary' %> 
                <% average_rating = product.order_items.average(:rating).to_f %>
                <% if average_rating.nil? %>
                  No ratings yet.
                <% else %>
                  <% integer_rating = average_rating.to_i %>
                  <span class="text-warning">
                    <%= "★" * integer_rating %>
                    (<%= integer_rating %>)
                  </span>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
  <svg class='swave' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f3f4f5" fill-opacity="1" d="M0,160L80,170.7C160,181,320,203,480,192C640,181,800,139,960,106.7C1120,75,1280,53,1360,42.7L1440,32L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>
  <div class='container-fluid custom-bg-color'>
    <div class="container">
           <div class="row">
              <h1 class='mb-5 text-center'>Most Liked Products</h1>
              <% @recent_products.each do |product| %>
                  <div class="col-sm-6 col-md-4 mb-3">
                      <div class="card shadow border">
                        <%= image_tag product.image, class:'img img-fluid card-img-top',style:'height:15rem'%>
                        <div class="card-body">
                          <h5 class="card-title"><%= product.name %></h5>
                          <h6 class="card-subtitle mb-2 text-info "><%= product.price %>$</h6>
                          <p class="card-text"><%= truncate(product.description, length: 100) %></p>
                        </div>
                         <div class='card-footer space-around d-flex justify-content-between align-items-center'>
                          <%= link_to "Show Detail", product_path(product), class:'btn btn-outline-primary' %> 
                          <% average_rating = product.order_items.average(:rating).to_f %>
                          <% if average_rating.nil? %>
                            No ratings yet.
                          <% else %>
                            <% integer_rating = average_rating.to_i %>
                            <span class="text-warning">
                              <%= "★" * integer_rating %>
                              (<%= integer_rating %>)
                            </span>
                          <% end %>
                        </div>
                      </div>
                  </div>
              <% end %>
          </div>
    </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f3f4f5" fill-opacity="1" d="M0,64L48,64C96,64,192,64,288,101.3C384,139,480,213,576,218.7C672,224,768,160,864,144C960,128,1056,160,1152,170.7C1248,181,1344,171,1392,165.3L1440,160L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>
<div class="container mb-5">
    <div class="row about-section">
        <div class="col-md-6 mb-3 left">
        <img src='<%= asset_path("heroSection.jpg") %>', class='img img-fluid h-100 w-100 py-4 px-3'>
        </div>
        <div class="col-md-6 right">
          <h3 class='text-secondary border-bottom w-25 text-center'>About Us</h3> 
          <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

          </p>
        </div>
    </div>

    
</div>
<div class="container-fluid mb-2">
    <div class="row">
        <div class="col-md-12">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d435521.9537741209!2d74.00472676365152!3d31.482517967084323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39190483e58107d9%3A0xc23abe6ccc7e2462!2sLahore%2C%20Punjab%2C%20Pakistan!5e0!3m2!1sen!2s!4v1702371644656!5m2!1sen!2s"
                width="100%"
                height="450"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>

