<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <%= image_tag @product.image, class:'img img-fluid border'%>
        </div>
        <div class="col-md-12 mt-3">
          <div class="row">
            <div class="col-4">
              <h5><%= @product.name %></h5>
            </div>
            <div class="col-8 text-end text-info fw-bold">
              <p>Price: <%= @product.price %>$</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p><%= @product.description %></p>
            </div>
          </div>
        </div>
      </div>
     <div class="row mt-5">
    <h5>What Our Customers Say About Us:</h5>
    
       <% @order_items.each do |order_item| %>
        <div class='shadow mb-3'>
        <% if order_item.rating.present? %>
        <strong><%= order_item.order.user.name %>:</strong> 
          <div class="rating">
            <% (1..5).each do |i| %>
              <% if i <= order_item.rating %>
                <span class="fa fa-star filled mb-2"></span>
              <% else %>
                <span class="fa fa-star"></span>
              <% end %>
            <% end %>
          </div>
          <% if order_item.comment.present? %>
            <p> <%= order_item.comment %></p>
          <% end %>
        <% end %>
        </div>
      <% end %>
     


      <hr />


      <h3 class='mt-5'>You may Like them</h3>
      <% @same_category_product.each do |product| %>
        <div class="col-md-4">
             <div class="card shadow border">
                  <%= image_tag product.image, class:'img img-fluid card-img-top', style:'height:15rem'%>
                  <div class="card-body">
                    <h5 class="card-title"><%= product.name %></h5>
                  </div>
                  <div class='card-footer space-around'>
                    <%= link_to "Show Detail", product_path(product),class:'btn btn-outline-primary' %>
                  </div>
              </div>
        </div>
      <% end %>
    </div>
    </div>
    <div class="col-md-4">
      <div class="border px-3 py-4">
        <h6 class="fst-italic text-center"><%= @product.name %></h6>

        <p class="text-center"><%= @product.price %>$</p>
        
          <%= form_tag add_to_cart_path(@product), method: :post do %>
            <%
=begin%>
 <div class="form-group">
              <%= label_tag 'quantity', 'Quantity' %>
              <%= number_field_tag 'quantity', 1, min: 1, class: 'form-control' %>
            </div> 
<%
=end%>
            <%= submit_tag 'Add to Cart', class: 'btn btn-outline-success form-control mt-2' %>
        <% end %>    
      </div>
    </div>
  </div>
</div>
